<div class = "headerBox">
    <h1> PROFILE </h1>
</div>
<div class="informationBox">
    <div class = "basisInformationBox">
        <input class="input" type="text" id="userFirstName" name="userFirstname" value="Firstname" readonly>
        <input class="input" type="text" id="userLastName" name="userLastname" value="Lastname" readonly>
        <input class="input" type="text" id="userEmail" name="userEmail" value="Email" readonly> 
        <input class="input" type="text" id="address" name="address" value="Address" readonly> 
        <button class="input" class="editCredentials">Edit Credentials</button>
        <button class="input" class="changePassword">Change Password</button> 
    </div>
    <div class="textInformationBox">
        <p id="title">Welcome</p>
        <p id="bodyText">this is the evil empire of Doofenia</p>
    </div>
</div>

<div class="listOfOrdersClass">
    <p id="titleOfOrderList">List of orders</p>
    <div class="orderListInFull">
        <p class="orderTitleOnID">First order</p> 
        <button class="viewOrderButton">View order</button>
        <p class="orderTitleOnID">Second order</p> 
        <button class="viewOrderButton">View order</button>
    </div>
</div>
