<div class = "headerBox">
    <h1> PROFILE </h1>
</div>
<div class="informationBox">
    <div class = "basisInformationBox">
        <input class="input" type="text" id="firstName" name="firstname" value="Firstname" readonly>
        <input class="input" type="text" id="lastName" name="lastname" value="Lastname" readonly>
        <input class="input" type="text" id="email" name="email" value="Email" readonly> 
        <input class="input" type="text" id="address" name="address" value="Address" readonly> 
        <button class="input" class="editCredentials">Edit Credentials</button>
        <button class="input" class="changePassword">Change Password</button> 
    </div>
    <div class="textInformationBox">
        <h3>BYE</h3>
        
    </div>
</div>
