<div class="content">
    <div class="search">
        <input type="search" name="searchbar"  placeholder="search" [(ngModel)]="searchInput">
        <br>
        <select id="dropdownCategory" [(ngModel)]="dropdownInput">
            <option value="Select Category" selected disabled hidden>Select Category</option>
            <option *ngFor="let category of categories" [value]="category.categoryName" >{{category.categoryName}}</option>
        </select>
        <br>
    </div>
    <div class="display">
        <div class="item" *ngFor="let product of products | filter:searchInput | filter:dropdownInput">
            <a routerLink="/singleproduct/{{product.id}}">
            <div class="portrait">
                <img src="#" alt="portrait">
            </div>
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
            </a>
        </div>
    </div>
</div>