<div class="content">
    <div class="search">
        <input type="search" name="searchbar"  placeholder="search" [(ngModel)]="searchInput">
        <br>
        <!--DUMMY DATA - REMEMBER TO CHANGE TO DATABASE DATA-->
        <select [(ngModel)]="category.id" id="dropdownCategory">
            <option value="0">Select Category</option>
            <option *ngFor="let category of categories" [value]="category.id" >{{category.name}}</option>
        </select>
        <br>
        <select name="sort" id="sort">
            <option value="alphateical">a-z</option>
            <option value="alphateical_reverse">z-a</option>
            <option value="pricelow">Price (low - high)</option>
            <option value="pricehigh">Price (high - low)</option>
        </select>
        <button>Search</button>
    </div>
    <div class="display">
        <div class="item" *ngFor="let product of products search: searchInput">
            <div class="portrait">
                <img src="#" alt="portrait">
            </div>
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>