<section>
    <app-databases></app-databases>
    <div class="search"  placeholder="search">
        <label>Search: <input type="search" [(ngModel)]="searchInput"></label> <label>category: <select name="categories" id="categories" [(ngModel)]="dropdownInput">
            <option value="0">Select Category</option>
            <option *ngFor="let category of categories">{{category.categoryName}}</option>
            </select> </label>
            <button (click)="newItem()">New</button>
    </div>
    <div class="result">
        <ul>
            <li><label>IMAGE</label></li>
            <li><label>NAME + DESCRIPTION</label></li>
            <li><label>STOCK</label></li>
            <li><label>PRICE</label></li>
        </ul>
    </div>
        <!--DISPLAY PRODUCTS-->
            <div class="content" id="products" 
            *ngFor="let product of products.slice().reverse() | 
            filter:searchInput | 
            filter:dropdownInput">
                <a routerLink="/admin/databases/singleProduct/{{product.id}}">
                <img src="#" alt="portrait">
                <div class="textfield">
                    <h4>{{product.name}}</h4>
                    <p>{{product.category.categoryName}}</p>
                    <p>{{product.description}}</p>
                </div>
                <h2>{{product.stock}}</h2>
                <h2>${{product.price}}</h2>
            </a>
            </div>
            
        </section>
