<div class="banner">
    <img class="banner-img" src="#" alt="big fucking image">
</div>
<div class="content">
    <a ></a>
    <div class="item" *ngFor="let product of products | slice:-3">
        <a routerLink="/singleproduct/{{product.id}}">
            <div class="portrait">
                <img src="#" alt="portrait">
            </div>
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
            </a>
            </div>
</div>
<div class="banner">
    <img class="banner-img" src="#" alt="big fucking image">
</div>