<div class="banner">
    <img class="banner-img" src="#" alt="big fucking image">
</div>
<div class="content">
    <div class="item">
        <div class="portrait">
            <img class="portrait-img" src="#" alt="Item Portrait">
        </div>
        <h2>Item</h2>
        <p>Description</p>
    </div>
    <!--DUMMY DATA-->
    <div class="item">
        <div class="portrait">
            <img class="portrait-img" src="#" alt="Item Portrait">
        </div>
        <h2>Item</h2>
        <p>Description</p>
    </div>
    <div class="item">
        <div class="portrait">
            <img class="portrait-img" src="#" alt="Item Portrait">
        </div>
        <h2>Item</h2>
        <p>Description</p>
    </div>
</div>
<!--DUMMY DATA END-->
<div class="banner">
    <img class="banner-img" src="#" alt="big fucking image">
</div>