<div class="content">
    <div class="title">
        <h1>Contact Us</h1>
    </div>
    <div class="contact-box">
        <input class="textbox" id="name" type="text" placeholder="Your Name">
        <input class="textbox" id="email" type="text" placeholder="Email">
        <input class="textbox" id="subject" type="text" placeholder="Subject">
        <input class="textbox" id="message" type="text" aria-multiline="true" placeholder="Leave a message">
        <button>Send Message</button>
    </div>
</div>