<header>
    <h1>Welcome [User]!</h1>
</header>
<article>
    <section>
        <div class="left-panel">
            <label>Most sold item?</label>
        </div>
        <div class="left-panel">
            <label>Statistics?</label>
        </div>
    </section>
    <section class="activities-section">
        <h5>Activities</h5>
        <div class="right-panel">
            <h2>New Order</h2>
            <p>Order Description asdasd sdk fsdkja fsdklj fasdl fasdfsda fasdf asdkf asdk fasdlfk asdk fsd  </p>
        </div>
        <div class="right-panel">
            <h2>New Order</h2>
            <p>Order Description</p>        </div>
        <div class="right-panel">
            <h2>New Order</h2>
            <p>Order Description</p>        </div>
    </section>
</article>
