<div class="content">
    <div class="image">
        <img src="assets/DoofWantsYou.jpg" alt="Heinz Doofenshmirtz the Great"/>
    </div>
    <div class="formula-box">
        <h3>SO YOU WANNA BECOME EVIL?</h3>
        <br>
        <label class="email" id="email-label">Email</label>
        <input [(ngModel)]="user.email" class="email input"  id="email-input" type="email" placeholder="Email">
        <br>
        <label class="username"  id="username-label">Username</label>
        <input [(ngModel)]="user.username" class="username input"  id="username-input" type="text" placeholder="Username">
        <br>
        <label class="password"  id="password-label">Password</label>
        <input [(ngModel)]="user.password" class="password input"  id="password-input" type="password" placeholder="Password">
        <br>
        <!-- <label class="password"  id="repeatpw-label">Repeat Password</label>
        <input class="password input"  id="repeatpw-input" type="password" placeholder="Password">
        <input class="checkbox box" type="checkbox"><label class="checkbox">I agree to the evil terms of service</label>-->
        <button (click)="save()">JOIN THE EVIL EMPIRE</button>
        <a href="../login">or just log in -></a>
    </div>
</div>