li, a{
    list-style: none;
    text-decoration: none;
}
.clientSide{
    display: flex;
    flex-direction: column;
}

.clientSide header{
    grid-area: header;
}
.clientSide nav{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
}
.clientSide nav ul{
    display: flex;
    justify-content: space-evenly;
}
.clientSide nav ul li{
    margin:10px;
}
.clientSide nav ul li a{
    padding:10px;
    border-radius: 10px;
    transition: 0.7s;
    color:#000;
}
.clientSide nav ul li a:hover{
    background-color: #ddd;
    transition: 0.7s;
    box-shadow: 2px 2px 5px;
}
.adminSide{
    display:grid;
    grid-template-columns: 25% auto;
    grid-template-areas: 
    "nav main"
    "nav main";
}

.adminSide nav{
    grid-area: nav  ;
    background-color:#aaa;
}
.adminSide nav ul li{
    margin:10px;
    border:1px solid #000;
}
.adminSide nav ul li a{
    display: flex;
    justify-content: space-between;
    padding:10px;
}
.adminSide nav ul li a img{
    width:20px;
    height: 20px;
    border:1px solid #000;
}
.adminSide nav ul li label:hover{
    cursor: pointer;
}

.container > .clientSide, .adminSide{
    grid-area: main;
}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
}

footer ul{
    display: flex;
}

footer ul li{
    margin:10px;
}