<header>
  <h1>DOOFENSHIRTZ EEEEVILLL WEEEEEEBSHOOOOOOP~</h1>
</header>
<nav>
  <ul>
    <li><a class="headerLink leftLink" href="/">Home</a></li>
    <li><a class="headerLink leftLink" href="/products">Products</a></li>
  </ul>
  <ul>
    <li><a class="headerLink rightLink" href="/login">Log In</a></li>
    <li><a class="headerLink rightLink" href="/cart">Cart</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer>
  <ul>
    <li><a class="footerLink" href="/contact">Contact Us</a></li>
    <li>|</li>
    <li><a class="footerLink" href="/about">About Us</a></li>
  </ul>
</footer>