<a routerLink="/">developer link to Client Page    </a><br>
<a routerLink="/admin/dashboard">developer link to admin site    </a><br>
<a routerLink="/userpage">developer link to User Page</a><br>
<a routerLink="/admin/orders">developer link to Orders Page in Admin</a>
<header *ngIf="!isOnAdminPage()">
  <h1>DOOFENSHIRTZ EEEEVILLL WEEEEEEBSHOOOOOOP~</h1>
</header>
<nav class="client-menu" *ngIf="!isOnAdminPage()">
  <ul>
    <li><a class="headerLink leftLink" routerLink="/">Home</a></li>
    <li><a class="headerLink leftLink" routerLink="/products">Products</a></li>
  </ul>
  <ul>
    <li><a class="headerLink rightLink" routerLink="/login">Log In</a></li>
    <li><a class="headerLink rightLink" routerLink="/cart">Cart</a></li>
  </ul>
</nav>
<section>
<article *ngIf="isOnAdminPage()">
  <nav class="admin-menu">
    <ul>
      <li><a routerLink="/admin/dashboard"><img class="icon" src="#" alt="I"> <label>Dashboard</label></a></li>
      <li><a routerLink="/admin/databases"><img class="icon" src="#" alt="I"><label>Database</label></a></li>
      <li><a routerLink="/admin/orders"><img class="icon" src="#" alt="I"><label>Orders</label></a></li>
    </ul>
  </nav>
</article>
<article *ngIf="isOnAdminPage()">
  <router-outlet></router-outlet>
</article>
</section>
<div *ngIf="!isOnAdminPage()" >
  <router-outlet></router-outlet>
</div>
<footer *ngIf="!isOnAdminPage()">
  <ul>
    <li><a class="footerLink" routerLink="/contact">Contact Us</a></li>
    <li>|</li>
    <li><a class="footerLink" routerLink="/about">About Us</a></li>
  </ul>
</footer>