<div class="caption">
    <ul  class="item">
        <li class="product">Product</li>
        <li class="quantity">Quantity</li>
        <li class="delete">Remove</li>
        <li class="price">Price</li>
    </ul>
</div>
<div class="content" >
    <div class="item item-background" *ngFor="let item of items">
        <div class="product">
            <div class="portrait">
                <img src="#" alt="portrait">
            </div>
            <div>
                <h4>
                    Product Title
                </h4>
                <p>Description</p>
            </div>
        </div>
        <div class="quantity">
            <button>
                -
            </button>
            <input type="number">
            <button>
                +
            </button>
        </div>
        <div class="delete">
            <button>X</button>
        </div>
        <div class="price">
            <label>$9.99</label>
        </div>
    </div>
    <div class="checkout">
        <div class="tax">
            <p>moms.</p> <p>$1.99</p>
        </div>
        <div class="total">
            <p>TOTAL</p> <p>$4.99</p>
        </div>
        <button>Checkout</button>
    </div>

</div>
