<div class="content">
    <h1>LOGIN</h1>
    <form
    name="form"
    (ngSubmit)="f.form.valid && login()"
    #f="ngForm"
    novalidate>
    <div class="login-box">

        <label>Username:</label>
        <input
        [(ngModel)]="form.username"
        name="username"
         type="text"
         class="textbox" 
         id="username" 
         placeholder="Username"
         required>
        <br>
        <label>Password:</label>
        <input 
        [(ngModel)]="form.password"
        name="password"
        type="password" 
        class="textbox" 
        id="password" 
        placeholder="password"
        required
        minlength="8">
        <a href="">Forgot Password?</a>
        <button>Log in</button>
    </div>
    <p>or...</p>
    <a class="signup" href="../signup/">JOIN THE EVIL EMPIRE TODAY</a>
    </form>
   
</div>