<div class="content" *ngFor="let order of Orders">

  <button (click)="delete(order)" class="btnDelete">Delete</button>

    <div class="dop">
      <p>{{order.date}}</p>
    </div>
    <div class="rep">
      <p>{{order.user.username}}</p>
    </div>
    <div class="orderid">
      <p>OrderID: {{order.id}} </p>
    </div>
    <div class="lip">
      <p>MANY SWEET LIPS</p>
    </div>
    <div class="price">
      <p>
        PRICE
      </p>
    </div>


    <div class="detailslink">
      <a href="#" class="link">Product Link</a>
    </div>
</div>
