.content {
  display: grid;
  grid-template-columns: auto auto auto auto 150px;
  grid-template-rows: 100px 100px;
  border: 1px solid #000;
  height: 200px;
  background-color: teal;
}

.rep {
  grid-column-start: 1;
  grid-row-start: 1;
  width: auto;
  margin: 10px;
  padding: 10px;
  border: solid 1px #000;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dop {
  grid-column-start: 3;
  height: 50px;
  margin: 10px;
  padding: 10px;
  border: solid 1px #000;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lip {
  border: solid 1px #000;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: top;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  height: 199px;
}
.price{
  border: 1px solid #000;
  height: 50px;
  width: 100px;
  grid-row-start: 2;
  grid-column-start: 5;
  margin: 20px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.orderid{
  display: flex;
  justify-content: left;
  align-items: center;
  grid-row-start: 2;
  grid-column-start: 1;
  margin: 10px;
  padding: 10px;

}
.link{
  text-decoration: none;
}
.detailslink a:hover{
  transition: 0.5s;
  background-color: black;
  
}

.detailslink{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 5;
  grid-row-start: 1;
  height: 50px;
  width: 100px;
  margin: 10%;
}
.detailslink a{

  height: 50px;
  width: 100px;
  color: lawngreen;
  background-color: #D70170;
  border: solid 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;

}
li{
  padding: 0px 30px 0px 0px;
  height: 50px;
  width: 100px;
  list-style: none;
  display:block
}
.btn{
  grid-row-start: 1;
  grid-column-start: 4;
}
.btnDelete{
  transition: 0.5s;
  grid-row-start: 2;
  grid-column-start: 5;

  height: 50px;
  width: 100px;
  color:lawngreen;
  background-color: #D70170;
  border: 1px solid #000;
}
.btnDelete:hover{
  transition: 1s;
  background-color: #000;
}
.usermail{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  border: solid 1px #000;
  margin: 10px;
  padding: 10px;
  grid-row-start: 1;
  grid-column-start: 2;
}
