<app-databases></app-databases>
<div class="content">
    <div class="liu">
        <h2>List of Users</h2>
<p *ngFor="let users of users">
    <button (click)="edit(users)">Edit</button>
    <button (click)="delete(users)">Slet</button>
    {{users.username}}
</p>
    </div>
    <div class="formula-box">
        <h3>SO YOU WANNA BECOME EVIL?</h3>  
        <br>
        <label class="email" id="email-label">Email</label>
        <input [ngModel]="user.email" class="email input"  id="email-input" type="email" placeholder="Email">
        <br>
        <label class="username"  id="username-label">Username</label>
        <input [ngModel]="user.username" class="username input"  id="username-input" type="text" placeholder="Username">
        <br>
        <label class="password"  id="password-label">Password</label>
        <input [ngModel]="user.password" class="password input"  id="password-input" type="password" placeholder="Password">
        <br>
        
        <!-- 
            
            <label class="password"  id="repeatpw-label">Repeat Password</label>
            <input  class="password input"  id="repeatpw-input" type="password" placeholder="Password">
        -->
            <select [ngModel]="user.role" class="roleselect">
            <option [value]="0">Choose Role</option>
            <option >User</option>
            <option >Admin</option>
        </select>
        <br>
        <button (click)="save()" >JOIN THE EVIL EMPIRE</button>
    </div>
</div>