<article>
    <img src="#" alt="Image">
    <div class="facts">
        <h2>Name</h2>
        <p>Quantity</p>
        <p>Price</p>
        <p>Rating?</p>
        <p>Statistics?</p>
    </div>
    <button>Add to Cart</button>
    <div class="description">
        <p>sdflaskhfblk vkldf vdfkl jdfkl sdfkvdfkvdfkl vdfklh vsdfkvjsdf vsdfkvh sdflvkhsdfvsdfh vsdflvhsdflvdfvhsdf vhsdflvj sdfvjsdfvsdf vjhsdfvjhsdavkljasd vkasdlvasdkvh asdkvasdk vsalvkasdfjv sdklvasdlv hasdvlasvasd vasdklvh sadvklsad viawe vlsdhkv aslkdhvasvh asv sadkl vhaskld vaskldv sav sadvashdvklsdav sadlvkh slkvhas v</p>
    </div>
</article>
