<article>
    <img src="#" alt="Image">
    <div class="facts">
        <h2>{{product.name}}</h2>
        <p>Current stock: {{product.stock}}</p>
        <p>Price: ${{product.price}}</p>
        <p>Type: <select name="categoryList" id="categoryList" [(ngModel)]="product.categoryId" disabled>
            <option *ngFor="let category of categories" [value]="category.id">{{category.categoryName}}</option>
        </select></p>
        <p>Statistics?</p>
    </div>
    <button>Add to Cart</button>
    <div class="description">
        <p>{{product.description}}</p>
    </div>
</article>
